body {
background-color: black;
color: purple;
}

.headerTitle {
  color:blue;
  text-align: center;
  font-family: 'Righteous', cursive;
}

.table {
  border-style: double; 
  border-color: aquamarine;

}

tr {
  border-style: double;
  border-color: aquamarine;
  font-size: 20px;
  
}

td {
  border-style: double;
  border-color: aquamarine;
  font-size: 20px;
  color: red
}

th {
  border-style: double;
  border-color: aquamarine;
  font-size: 20px;
}

.origin-name {
  font-size: 30px;
  border-color: aquamarine;
  color: blue;
}

.character-name {
  font-size: 30px;
  /* border-color: aquamarine; */
  color:red;
  font-family: 'Righteous', cursive;
}

.headerlogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1500px;
  height: 300px;
}

.api-data {
  color: blue;
}

.character-image {
  align-content: center;
  width: 300px;
  height: 300px;
}

.api-description {
  color:red;
  font-family: 'Courgette', cursive;
}

.api-gender{
  font-family: 'Courgette', cursive;
  color: red
}

.api-job{
  font-family: 'Courgette', cursive;
  color: red
}

.api-age {
  font-family: 'Courgette', cursive;
  color:red;
}

.api-race {
  font-family: 'Courgette', cursive;
  color:red;
}

.sideTD {
  color: blue;
  font-family: 'Courgette', cursive;
}